/* CSS初始化 */
select {
  margin: 0;
  padding: 0;
}
.to__header .to__flow .to__flow__item .to__flow__name {
  display: inline-block;
  cursor: pointer;
}



.to__block {
  padding-left: 10px;
  text-align: center;
}



.to__block .to__left {
  position: relative;
  margin-right: 30px;
}

.to__block .to__left .to__item .to__dropdownList i {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: auto 0;
  cursor: pointer;
  transform: rotate(-90deg);
}


ul {     /* 去掉小圆点 */
  list-style-type: none;
}

.icon {
  /*   展开的图标样式  */

  vertical-align: middle;
  border: 0;
  margin-left: 8px;
}

.to_name {
  /*行内样式  */
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 3px;
}


to_subItem {
  padding-left: 20px;
  display: none;
}

span {
  margin-left: 3px;
}


.to_roate {
  transform: rotate(0);
}



.leftdiv{
    width: 36%;
    height: 90%;
    border-right: 1px solid grey;
    float: left;
}


/*文本编辑框样式*/
.editTxt {
  width: 100%;
  height: 95%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  font-size: 14px;
  line-height: 24px;
  padding: 2px;
  border: none;
  outline: none;
}

/*页面布局左侧div样式*/
.rightDiv {
  width: 60%;
  height: 90%;
  left: 39%;
  /* top: 43%; */
  position: absolute;
  border-left: 2px solid grey;
}

/*页面上部div样式*/
.topDiv {
  width: 100%;
  height: 10%;
  background: #3399ff;
  color: white;
  line-height: 350%;
  text-indent: 20px;
}