/* CSS初始化 */
select {
  margin: 0;
  padding: 0;
}

.to__block {
  padding-left: 10px;
  text-align: center;
}


.to__block  .to__item .to__dropdownList i {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: auto 0;
  cursor: pointer;
  transform: rotate(-90deg);   /*  动画效果*/
}


ul {     /* 去掉小圆点 */
  list-style-type: none;
}

.icon {
  /*   展开的图标样式  */

  vertical-align: middle;
  border: 0;
  margin-left: 8px;
}

.to_name {
              /*行内样式  */
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 3px;
}


to_subItem {
  padding-left: 20px;
  display: none;
}

span {
  margin-left: 3px;
}


.to_roate {
  transform: rotate(0);
}



.leftdiv{
    width: 36%;
    height: 90%;
    border-right: 1px solid grey;
    float: left;
}


/*页面布局左侧div样式*/
.rightDiv {
  width: 60%;
  height: 90%;
  left: 39%;
  position: absolute;
  border-left: 2px solid grey;
}

/*页面上部div样式*/
.topDiv {
  width: 100%;
  height: 10%;
  background: #3399ff;
  color: white;
  line-height: 350%;
  text-indent: 20px;
}