<?xml version="1.0" encoding="UTF-8"?>
<web>


<!-- 可以多配，可以,分隔 ， 是需要初始化的 servlet-->
<servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>com.commons.study.springmvc.servlet.DispatcherServlet</servlet-class>
   <load-on-startup>1</load-on-startup>
</servlet>

<!-- 映射路径 ，url-pattern是"/"DispatcherServlet会帮我们截获所有的url请求  -->	
<servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>*.do</url-pattern>
</servlet-mapping>


<!-- 包的扫描路径 ,可以多配和 ,分隔 ,配置错了会忽略  -->
<component-scan base-package="com.commons.study.filesystem"/>
</web>